.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    user-select: none;

    .icon {
        display: block;
        background-color: var(--box-background);
        width: 250px;
        height: 250px;
        border-radius: 500px;

        &.placeholder {
            animation: loading 2s infinite alternate;
        }

        
    }
    svg.icon {
        fill: var(--accent) !important;
    }
    .upload {
        margin-top: -250px;
        width: 250px;
        height: 250px;
        border-radius: 100%;

        background-color: var(--image-background-hover);
        color: var(--image-text-hover);
        opacity: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: all .2s;

        * {
            margin: 0;
        }

        i {
            font-size: 36px;
            margin-bottom: 5px;
        }

        &:hover {
            opacity: 1;
        }
    }
    .name {
        color: var(--accent);
        margin-bottom: 5px;

        &.placeholder {
            height: 10px;
            width: 250px;
            border-radius: 25px;
            background-color: var(--box-background);
            animation: loading 2s infinite alternate;
        }
    }
    .description {
        color: var(--subtitle);
        margin: 0;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: normal;
    }
    .details {
        color: var(--text);

        &.placeholder > * {
            height: 5px;
            width: 150px;
            border-radius: 25px;
            background-color: var(--box-background);
            animation: loading 2s infinite alternate;
        }

        * {
            text-align: left;
            margin: 5px;

            i {
                color: var(--accent);
                margin-right: 10px;
            }
        }
    }
}
@keyframes loading {
    from {
        background-color: var(--box-background);
    }
    to {
        background-color: var(--box-background-hover);
    }
}