/* NAVBAR HTML:

<div class="navbar">
		<a href="../" class="navbar-item navbar-icon" data-action="goto:home" rel="home"><img src="../rsc/icon-hires.png" alt="Student"/></a>
		<a href="#last" class="navbar-item">Ultimo Post</a>
		<a href="../check.php?action=logout" style="float:right;" class="navbar-item" data-action="action:quit">Esci</a>
	</div>
*/
.navbar {
	height: 5vh;
	width: 100vw;
	padding: 10px 5px;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	
	background-color: var(--background);
	box-shadow: 0px 5px 10px var(--shadow);
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 16px;
	color: var(--text);

	.navbar-item {
		height: min-content;
		
		text-decoration: none;
		font-size: 16px;
		color: var(--text);
		text-align: center;
  
		float: left;
		padding: 0 2%;
		
		cursor: pointer;
		
		transition: .2s;

		:hover {
			color: var(--text-hover);
		}

		&.navbar-img {
			padding: 5px;
			width: 3%;
			height: 120%;	

			svg {
				height: 100%;
				width: 100%;
				fill: var(--accent);
			}
		}

		&.profile-icon {
			/*height: 100%;
			width: auto;*/

			img {
				clip-path: circle(30%);
				transform: scale(0.30);
			}
		}
	}
	button.navbar-item {
		background: transparent;
		border: none;
	}
}
.subnav {
	position: fixed;
	right: 10px;
	top: 10vh;
	z-index: 10;

	padding: 15px;
	width: 10vw;

	display: flex;
	flex-direction: column;
	
	box-shadow: 2px 2px 5px var(--shadow);
	background: var(--background);

	.subnav-item {
		height: min-content;
		margin-top: 5px;
		
		text-decoration: none;
		font-size: 16px;
		color: var(--text);
		
		cursor: pointer;

		&.subnav-icon {
			padding: 0;
			text-align: left;
		}
	}

	button.subnav-item.subnav-icon {
		background: transparent;
		border: none;
	}
}